// Подключаем миксины и переменные
@use '../abstracts/mixins'
@use '../abstracts/variables'
@use 'contacts-main'

.certificates-hero
  @include mixins.sectionIndentBottom

  &__title
    @extend .contacts-main__title

  & .certificates

    gap: 4.8rem .8rem
    @media (width <= 1560px)
      gap: 3.6rem .8rem
    @media (width <= 991px)
      gap: 2.4rem .8rem
    @media (width <= 768px)
      gap: 1.2rem

  & .certificate
    align-items: center
    width: calc(25% - .6rem)
    @media (width < 1440px)
      width: calc(33.33% - .6rem)
    @media (width <= 991px)
      width: calc(50% - .4rem)
    @media (width <= 768px)
      width: 100%
    & img
      max-height: 53rem
      border-color: rgba(216, 225, 235, 1)
      object-fit: contain