// Подключаем миксины и переменные
@use '../abstracts/mixins'
@use '../abstracts/variables'

.description
  margin-bottom: 4.8rem
  @media (width <= 1560px)
    margin-bottom: 3.6rem
  @media (width <= 991px)
    margin-bottom: 2.4rem

  &__wrapper
    display: flex
    gap: 6.4rem
    background-color: rgba(255, 255, 255, 1)
    border-radius: 1.2rem
    padding: 6.4rem
    @media (width <= 1560px)
      gap: 4.8rem
      padding: 4.8rem
    @media (width <= 1220px)
      padding: 3.2rem
    @media (width <= 991px)
      padding: 2rem 1.6rem

  &__item
    overflow: hidden
    &:nth-child(2)
      display: flex
      flex-direction: column
      gap: .8rem
      min-width: 32.8rem
      @media (width <= 1220px)
        display: none

  &__anchor
    text-align: center
    padding: 1.2rem
    border: 1px solid rgba(188, 205, 224, 1)
    border-radius: .8rem

  & h3
    font-size: 2.8rem
    margin-bottom: 1.6rem
    line-height: 1.2
    @media (width <= 1560px)
      font-size: 2rem
      margin-bottom: 1.2rem
    &:not(:first-child)
      margin-top: 4.8rem
      @media (width <= 1560px)
        margin-top: 2.4rem

  & p, & ul, & ol
    margin-bottom: 1.6rem
    @media (width <= 1560px)
      margin-bottom: 1.2rem
      font-size: 1.4rem

  & ul
    display: flex
    flex-direction: column
    gap: 1.6rem
    @media (width <= 1560px)
      gap: 1.2rem
    & li
      display: inline-flex
      align-items: center
      @media (width <= 1560px)
        font-size: 1.4rem
      &:before
        content: ''
        display: flex
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='9' viewBox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0L8 2.25V6.75L4 9L0 6.75V2.25L4 0Z' fill='%23C42539'/%3E%3C/svg%3E%0A")
        width: 8px
        height: 8px
        aspect-ratio: 1
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        margin-right: 1.6rem
      & span
        color: rgba(196, 37, 57, 1)
