// Подключаем миксины и переменные
@use '../abstracts/mixins'
@use '../abstracts/variables'

// Основные стили для products блока
.products
  @include mixins.sectionIndentBottom

  &__title
    @include mixins.h2Title

  &__wrapper
    display: flex
    flex-wrap: wrap
    gap: .8rem
    margin-bottom: .8rem

  &__item
    --item-padding-large: 3.2rem
    width: calc(33.33% - .6rem)
    padding: var(--item-padding-large)
    display: flex
    flex-direction: column
    border: 1px solid variables.$borderColor
    border-radius: variables.$borderRadiusMedium
    @media (width <= 1440px)
      --item-padding-large: 2.4rem
    @media (width <= 1100px)
      width: calc(50% - .4rem)
    @media (width <= 768px)
      --item-padding-large: 1.6rem
      width: 100%
    @media (width <= 560px)
      position: relative
    &:nth-child(2)
      & .products__item-link
        @include mixins.buttonMain(rgba(22, 26, 31, 1), rgba(255, 255, 255, 1))
        @media (hover: hover) and (pointer: fine)
          &:hover
            background-color: variables.$colorButtonBack

  &__img
    overflow: clip
    border-radius: variables.$borderRadiusMedium
    margin-bottom: 2.4rem
    max-height: 48rem

    @media (width <= 1440px)
      margin-bottom: 1.6rem
      max-height: 196px
      max-width: 100%
      object-fit: cover

    @media (width <= 560px)
      position: static
      transform: translateY(0)

  &__item-title
    font-size: 2.8rem
    margin-bottom: 1.2rem

    @media (width <= 1440px)
      font-size: 2rem

    @media (width <= 370px)
      font-size: 1.6rem

  &__item-text
    margin-bottom: 2.4rem

    @media (width <= 1440px)
      margin-bottom: 1.6rem
      font-size: 1.4rem

  &__item-link
    @include mixins.buttonMain()
    margin-top: auto



