// Подключаем миксины и переменные
@use '../abstracts/mixins'
@use '../abstracts/variables'
// Основные стили для хэдера
.header
  --paddingSide: 4.8rem
  @media (width <= 1710px)
    --paddingSide: 3.2rem
  @media (width < 1480px)
    --paddingSide: 2.4rem
  @media (width <= 991)
    --paddingSide: 1.6rem

  &__wrapper
    display: flex

  &__logo-inner
    display: flex
    align-items: center
    justify-content: center
    background-color: variables.$colorLogoBack
    padding: 2.4rem 4.8rem
    @media (width <= 1710px)
      padding: 1.8rem 3.6rem
    @media (width <= 991px)
      display: none

  &__logo-mobile-inner
    display: none
    @media (width <= 991px )
      display: block

  &__logo
    @media (width <= 1710px)
      max-width: 120px

  &__inner
    display: flex
    flex-direction: column
    width: 100%

  &__item
    display: flex
    align-items: center
    justify-content: space-between
    &:nth-child(1)
      padding: 2rem var(--paddingSide)
      background-color: rgba(37, 43, 51, 1)
      color: variables.$mainColor
      @media (width <= 1710px)
        font-size: 1.4rem
      @media (width < 1440px)
        justify-content: space-between
        padding: 1rem var(--paddingSide)
    &:nth-child(2)
      padding: 1.6rem var(--paddingSide)
      @media (width < 1440px)
        padding: 1rem var(--paddingSide)

  &__nav
    @media (width < 1040px )
      display: none

  &__nav-list
    display: flex
    align-items: center
    gap: var(--paddingSide)


  &__list-item.has-children
    display: flex
    align-items: center
    gap: .8rem

  &__text-inner
    display: flex
    align-items: center
    gap: 24px
    margin-left: auto
    @media (width <= 1710px)
      gap: 1.8rem
    @media (width < 1360px)
      gap: 1.2rem
    @media (width <= 991px)
      gap: .8rem

  &__text
    max-width: 34.2rem
    @include mixins.text
    text-align: right
    @media (width <= 1710px)
      font-size: 1.4rem
    @media (width < 1430px)
      display: none

  &__info-wrapper
    display: flex
    gap: var(--paddingSide)
    @media (width < 1040px )
      justify-content: space-between
      width: 100%

  &__info
    font-weight: 600
    font-size: 2.4rem
    @media (width <= 1710px)
      font-size: 1.8rem
    @media (width <= 991px)
      font-size: 1.6rem
    @media (width <= 370px)
      font-size: 1.4rem


  &__info-text
    color: variables.$colorTextSecond
    font-size: 1.4rem
    @media (width <= 370px)
      font-size: 1.2rem

  &__button-wrapper
    display: flex
    align-items: center
    gap: 2.4rem

  &__button-text
    text-align: right
    max-width: 29rem
    @include mixins.text(variables.$colorTextSecond)
    @media (width <= 1710px )
      font-size: 1.4rem
    @media (width < 1360px)
      display: none

  &__button
    @include mixins.buttonMain()
    @media (width < 1040px )
      display: none

  &__info-inner
    &:nth-child(2)
      @media (width <= 560px )
        display: none
      & .header__info-text
        @media (width < 1040px )
        text-align: center
    &:nth-child(3)
      & .header__info-text
        @media (width < 1039px )
        text-align: right

  &__button-icon[data-mobile-popup]
    display: none
    @media (width < 1040px )
      display: block





