// Подключаем миксины и переменные
@use '../abstracts/mixins'
@use '../abstracts/variables'
// Основные стили для хэдера
.header
  --paddingSide: 4.8rem
  @media (width <= 1710px)
    --paddingSide: 3.2rem
  @media (width < 1480px)
    --paddingSide: 2.4rem
  @media (width <= 991)
    --paddingSide: 1.6rem
  &.burger-menu-active
    z-index: 100
    & .header__logo-inner, & .header__text, & .header__item:nth-child(2), & .header__nav-list
      display: none

  &__wrapper
    display: flex

  &__logo-inner
    display: flex
    align-items: center
    justify-content: center
    background-color: variables.$colorLogoBack
    padding: 2.4rem 4.8rem
    @media (width <= 1710px)
      padding: 1.8rem 3.6rem
    @media (width <= 991px)
      display: none

  &__logo-mobile-inner
    display: none
    @media (width <= 991px )
      display: block

  &__logo
    @media (width <= 1710px)
      max-width: 120px

  &__inner
    display: flex
    flex-direction: column
    width: 100%

  &__item
    display: flex
    align-items: center
    justify-content: space-between
    &:nth-child(1)
      padding: 2rem var(--paddingSide)
      background-color: rgba(37, 43, 51, 1)
      color: variables.$mainColor
      @media (width <= 1710px)
        font-size: 1.4rem
      @media (width < 1440px)
        justify-content: space-between
        padding: 1rem var(--paddingSide)
      @media (width < 560px)
        border-bottom: 1px solid rgba(240, 245, 250, 1)
    &:nth-child(2)
      padding: 1.6rem var(--paddingSide)
      background-color: variables.$mainColor
      border-bottom: 1px solid rgba(240, 245, 250, 1)
      @media (width < 1440px)
        padding: 1rem var(--paddingSide)

  &__nav
    @media (width < 1040px )
      display: none

  &__nav-list
    display: flex
    align-items: center
    gap: var(--paddingSide)

  &__list-item
    transition: color .4s
    & svg
      transition: all .4s
    @media (hover: hover) and (pointer: fine)
      &:hover
        color: rgba(188, 205, 224, 1)
        & svg
          transform: rotate(180deg)
          & path
            stroke: rgba(188, 205, 224, 1)


  &__list-item.has-children
    position: relative
    display: flex
    align-items: center
    gap: .8rem
    @media (hover: hover) and (pointer: fine)
      &:hover
        & .header__sub-list
          opacity: 1
          pointer-events: auto

  &__sub-list, &__deep-list
    display: flex
    flex-direction: column
    gap: 1.6rem

  &__sub-list
    --indent: 5rem
    position: absolute
    background-color: rgba(22, 26, 31, 1)
    padding: 2.4rem
    top: var(--indent)
    left: -1rem
    z-index: 10
    width: max-content
    opacity: 0
    transition: opacity .4s
    pointer-events: none
    @media (width < 1440px)
      --indent: 4rem
    &:before
      position: absolute
      content: ''
      width: 100%
      top: -3rem
      left: 0
      padding-top: var(--indent)
      @media (width < 1440px)
        top: -2rem

  &__deep-list
    margin-top: 1.6rem

  &__sub-item, &__deep-item
    color: rgba(255, 255, 255, 1)
    transition: all .4s
    @media (hover: hover) and (pointer: fine)
      &:hover
        color: rgba(188, 205, 224, 1)


  &__text-inner
    display: flex
    align-items: center
    gap: 24px
    margin-left: auto
    @media (width <= 1710px)
      gap: 1.8rem
    @media (width < 1360px)
      gap: 1.2rem
    @media (width <= 991px)
      gap: .8rem

  &__text
    max-width: 34.2rem
    @include mixins.text
    text-align: right
    @media (width <= 1710px)
      font-size: 1.4rem
    @media (width < 1430px)
      display: none

  &__info-wrapper
    display: flex
    gap: var(--paddingSide)
    @media (width < 1040px )
      justify-content: space-between
      width: 100%

  &__info
    font-weight: 600
    font-size: 2.4rem
    transition: color .4s
    &:hover
      color: #58687a
    @media (width <= 1720px)
      font-size: 1.8rem
    @media (width <= 991px)
      font-size: 1.6rem
    @media (width <= 370px)
      font-size: 1.4rem


  &__info-text
    color: variables.$colorTextSecond
    font-size: 1.4rem
    @media (width <= 370px)
      font-size: 1.2rem

  &__button-wrapper
    display: flex
    align-items: center
    gap: 2.4rem

  &__button-text
    text-align: right
    max-width: 29rem
    @include mixins.text(variables.$colorTextSecond)
    @media (width <= 1710px )
      font-size: 1.4rem
    @media (width < 1360px)
      display: none

  &__button
    @include mixins.buttonMain()
    @media (width < 1040px )
      display: none

  &__info-inner
    &:nth-child(2)
      @media (width <= 560px )
        display: none
      & .header__info-text
        @media (width < 1040px )
        text-align: center
    &:nth-child(3)
      & .header__info-text
        @media (width < 1039px )
        text-align: right

  &__button-icon[data-callback-popup-open]
    display: none
    @media (width < 1040px )
      display: block

  &__burger-menu
    &[data-burger-menu-close]
      display: none





