// Подключаем миксины и переменные
@use '../abstracts/variables'

.breadcrumbs
  padding-block: 48px 24px
  padding-left: max(16px, calc(100% - 1600px) / 2)
  @media (width <= 1560px)
    padding-block: 36px 20px
  @media (width <= 991px)
    padding-block: 24px 16px


  &__list
    display: flex
    overflow: auto
    width: calc(100% + 16px)
    margin-left: -16px
    padding-inline: 16px


  &__item
    font-size: 14px
    white-space: nowrap
    &:not(:first-child)
      &:before
        content: '/'
        margin-inline: 1.2rem

    &:has(a)
      color: variables.$colorTextSecond


