.certificates
  display: flex
  gap: .8rem
  //margin-left: -1.6rem
  //width: calc(100% + 3.2rem)
  //padding-left: 1.6rem
  overflow-x: auto

.certificate
  display: flex
  flex-direction: column
  width: fit-content
  gap: 1.6rem

  min-width: 14rem

  & img
    padding: .8rem
    border-radius: .6rem
    border: 1px solid rgba(240, 245, 250, 1)

  & p
    text-align: center
    font-size: 1.4rem
    margin-bottom: 0
    @media (width <= 991px)
      font-size: 1.2rem